* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

body {
    width: 100%;
    background-color: #F8F9FC;
}

main {
    margin-left: 225px;
}

img {
    width: 100%;
}

@media (max-width: 1000px) {
    main {
        margin-left: 0;
    }
}


.form {
    width: 900px;
    max-width: 95%;
    background-color: #fff;
    margin: auto;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 1px 7px 15px -16px #000000;
    border-left: 4px #00BFA6 solid ;
}

.form__title {
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
}

.form__title::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 5px;
    width: 90px;
    background-color: #00BFA6;
}

.form__inputs {
    margin-top: 1.5em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2em;
}

.input__label, .input__input {
    font-weight: 500;
}
.input__input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #fafafa;
    padding-left: 2em;
    border-radius: 5px;
}

.input__input:focus {
    outline: 3px #00BFA6  solid;
}

.input__label--optional {
    color: #ff0000;
    font-weight: 500;
}

.input__input--img {
    padding-top: 1em;
    font-style: italic;
}

.form__btns {
    margin-top: 1em;
    align-self: left;

}

.form__btn {
    cursor: pointer;
    font-weight: 500;
    border: none;
    background-color: #00BFA6;
    color: #f2f2f2;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    font-size: 1rem;
    align-self: center;
    transition: .5s;
    padding: 1.5em ;
}

.form__btn:hover {
    opacity: .8;
    transition: .5s;
}

