
.account {
    margin: 7rem auto;
    height: 100vh;
    width: 80%;
    display: flex;
    justify-content: center;
    box-shadow: 1px 7px 15px -16px #000000;
}

.img__account {
    cursor: pointer;
    width: 45%;
    height: 100%;
    transition: .5s;
}

.img__account:hover {
    opacity: .9;
    transition: .5s;
}

.form {
    width: 55%;
    height: 100%;
    background-color: #fff;
    margin: auto;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 1px 7px 15px -16px #000000;
    border-left: 4px #00BFA6 solid ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form__title {
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
}

.form__title::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 5px;
    width: 90px;
    background-color: #00BFA6;
}

.form__inputs {
    margin-top: 1.5em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2em;
}

.input__label, .input__input {
    font-weight: 500;
}
.input__input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #fafafa;
    padding-left: 2em;
    border-radius: 5px;
}

.input__input:focus {
    outline: 3px #00BFA6  solid;
}

.input__input--img {
    padding-top: 1em;
    font-style: italic;
}

.form__forgot {
    color: #00BFA6;
    font-style: italic;
    text-decoration: none;
    transition: .3s;
}

.form__forgot:hover {
    opacity: .8;
    transition: .3s;
}

.form__btns {
    margin-top: 1em;
    align-self: left;
}

.form__btn {
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    border: none;
    background-color: #00BFA6;
    color: #f2f2f2;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    font-size: 1rem;
    align-self: center;
    transition: .5s;
    padding: 1.5em ;
}

.form__btn:hover {
    opacity: .8;
    transition: .5s;
}

@media (max-width: 900px) {
    .account {
        flex-direction: column;
    }

    .img__account {
        display: none;
    }
    
    .form{
        width: 100%;
    }

    .form__inputs {
        grid-template-columns: 1fr;
    }
}

.form__social {
    justify-self: flex-end;
    margin-top: 1.5em;
    display: flex;
    justify-content: space-around;
    gap: 1em;
}

.social__item {
    cursor: pointer;
    width: 50px;
    transition: .5s;
}

.social__item:hover {
    transition: .5s;
    opacity: .8;
}